/*
** Styles used in Tech Summit Demo
*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;
    margin: 0;
    line-height: 1.2em;
}

body > h1 {
    background-color: #024394;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 350%;
    margin:0;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top:25pt;
    padding-bottom: 15pt;
    box-shadow: 0px 5px 5px 0px rgba(171,171,171,1);
}

body > h3 {
    background-color: #024394;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin:0;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top:5pt;
    padding-bottom: 15pt;
    box-shadow: 0px 5px 5px 0px rgba(171,171,171,1);
}

#content {
    margin: 10pt;
}

#demobox {
    border-radius: 25px;
    background-color: #b1cc11;
    font-size:10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    min-height: 50px;
    box-shadow: 0px 5px 5px 0px rgba(171,171,171,1);
}

#leftbox {
    width: 70%;
    float: left;
}

#databox {
    border-radius: 25px;
    background-color: #024394;
    font-size:10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    min-height: 250px;
    box-shadow: 0px 5px 5px 0px rgba(171,171,171,1);
}

#rightbox {
    margin-left: 73%;
}

button {
    font-size: 12pt;
    margin: 8px;
}

searchButton {
    font-size: 10pt;
}

